/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  background: linear-gradient(135deg, #ffffff, #f1f9fc, #fff4fd);
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.force-hidden {
  overflow: hidden;
}

#networkCursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}

#background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: none;
}

/* Header */
header {
  top: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}
  
.page-title {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

/* Front page */
.mask-container {
  position: fixed;
  left: 0rem;
  bottom: 0rem;
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.color-image,
.bw-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-image {
  background-image: url("images/board_final.png");
  background-size: cover;
  z-index: 3;

  -webkit-mask-image: url("images/masks/sprite-center.png");
  mask-image: url("images/masks/sprite-center.png");

  -webkit-mask-size: 4600% 100%;
  mask-size: 4600% 100%;

  -webkit-mask-position: 0% 0%;
  mask-position: 0% 0%;
  animation-direction: normal;
}

.bw-image {
  z-index: 2;
}

.mask-animation {
  animation: addColor 1300ms steps(45) forwards;
}

@keyframes addColor {
  from {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }
  to {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }
}

.right-background {
  position: fixed; 
  right: 0rem;
  bottom: 0rem;
  width: 35rem;
  max-width: 100%;
  margin: 0 auto;
}

.front-page_title {
  position: relative;
  font-family: "Orbitron", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  z-index: 10;
  text-align: right;
  bottom: -26rem;
  margin-right: 15rem;
  color: black;
}